{% extends "base.html" %}
{% set active_page = "admin_users" %}
{% if create %}
    {% set action_label = 'Create' %}
    {% set form_action = url_for('admin.edit_user') %}
{% else %}
    {% set action_label = 'Edit' %}
    {% set form_action = url_for('admin.edit_user', user_username=user.username) %}
{% endif %}
{% block title %}<title><span data-i18n="{{ action_label }} User">{{ action_label }} User</span> - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark" data-i18n="{{ action_label }} User">{{ action_label }} User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}" data-i18n="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.manage_user') }}" data-i18n="Users">Users</a></li>
                        <li class="breadcrumb-item active" data-i18n="{{ action_label }} User">{{ action_label }} User</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <form role="form" method="post" action="{{ form_action }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="create" value="{{ create }}">
                        <div class="card card-outline card-primary shadow">
                            <div class="card-header with-border">
                                <h3 class="card-title">User Editor</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                {% if error %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4><i class="fa-solid fa-ban"></i> Error!</h4>
                                        {{ error }}
                                    </div>
                                    <span class="help-block">{{ error }}</span>
                                {% endif %}
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="firstname" data-i18n="First Name">First Name</label>
                                    <input type="text" class="form-control" data-i18n-placeholder="First Name" placeholder="First Name" name="firstname"
                                           id="firstname"
                                           {% if user %}value="{{ user.firstname }}" {% endif %}>
                                    <span class="form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="lastname" data-i18n="Last Name">Last Name</label>
                                    <input type="text" class="form-control" data-i18n-placeholder="Last name" placeholder="Last name" name="lastname"
                                           id="lastname"
                                           {% if user %}value="{{ user.lastname }}" {% endif %}>
                                    <span class="form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="email" data-i18n="E-mail address">E-mail address</label>
                                    <input type="email" class="form-control" data-i18n-placeholder="Email" placeholder="Email" name="email" id="email"
                                           {% if user %}value="{{ user.email }}" {% endif %}>
                                    <span class="form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="username" data-i18n="Username">Username</label>
                                    <input type="text" class="form-control" data-i18n-placeholder="Username" placeholder="Username" name="username"
                                           id="username"
                                           {% if user %}value="{{ user.username }}" {% endif %}
                                           {% if not create %}disabled{% endif %}>
                                    <span class="form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback {% if blank_password %}has-error{% endif %}">
                                    <label class="control-label" for="password" data-i18n="Password">Password</label>
                                    <input type="password" class="form-control"
                                           data-i18n-placeholder="Password {% if create %}(Required){% else %}(Leave blank to keep unchanged){% endif %}"
                                           placeholder="Password {% if create %}(Required){% else %}(Leave blank to keep unchanged){% endif %}"
                                           name="password" id="password">
                                    <span class="form-control-feedback"></span>
                                    {% if blank_password %}
                                        <span class="help-block" data-i18n="The password cannot be blank.">The password cannot be blank.</span>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" title="{{ action_label }} User" data-i18n="{{ action_label }} User">
                                    {{ action_label }} User
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                    </form>
                    {% if not create %}
                        {% if user.otp_secret %}
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title" data-i18n="Two Factor Authentication">Two Factor Authentication</h3>
                                </div>
                                <div class="card-body">
                                    <p data-i18n="If two-factor authentication is configured for this user and is causing problems due to a lost device or technical issue, it can be disabled here.">If two-factor authentication is configured for this user and is causing problems
                                        due to a lost device or
                                        technical issue, it can be disabled here.
                                    </p>
                                    <p data-i18n="The user will need to reconfigure two-factor authentication, to re-enable it.">The user will need to reconfigure two-factor authentication, to re-enable it.</p>
                                    <p><strong data-i18n="Beware: This could compromise security!">Beware: This could compromise security!</strong></p>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-warning button_otp_disable"
                                            id="{{ user.username }}" data-i18n="Disable Two Factor Authentication">
                                        Disable Two Factor Authentication
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <!-- /.col -->

                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="card card-outline card-secondary shadow">
                        <div class="card-header">
                            <h3 class="card-title" data-i18n="User Editor">User Editor</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p data-i18n="Fill in all the fields to the in the form to the left.">Fill in all the fields to the in the form to the left.</p>
                            {% if create %}
                                <p><strong data-i18n="Newly created users do not have access to any zones.">Newly created users do not have access to any zones.</strong> <span data-i18n="You will need to grant access to the user once it is created via the zone management buttons on the dashboard.">You will need
                                    to grant
                                    access to the user once it is created via the zone management buttons on the
                                    dashboard.</span>
                                </p>
                            {% else %}
                                <p><strong data-i18n="Username">Username</strong> <span data-i18n="cannot be changed.">cannot be changed.</span></p>
                                <p><strong data-i18n="Password">Password</strong> <span data-i18n="can be left empty to keep the current password.">can be left empty to keep the current password.</span></p>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        // handle disabling two-factor authentication
        $(document.body).on('click', '.button_otp_disable', function () {
            var modal = $("#modal_otp_disable");
            var username = $(this).prop('id');
            var info = i18n.t("Are you sure you want to disable two factor authentication for user") + " " + username + "?";
            modal.find('.modal-body p').text(info);
            modal.find('#button_otp_disable_confirm').click(function () {
                var postdata = {
                    'action': 'user_otp_disable',
                    'data': username,
                    '_csrf_token': '{{ csrf_token() }}'
                }
                applyChanges(postdata, $SCRIPT_ROOT + '/admin/manage-user', false, true);
            })
            modal.modal('show');
        });
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade modal-warning" id="modal_otp_disable">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" data-i18n="Confirmation">Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-i18n="Close">
                        Close
                    </button>
                    <button type="button" class="btn btn-danger float-right" id="button_otp_disable_confirm" data-i18n="Disable Two Factor Authentication">
                        Disable Two Factor Authentication
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
