{% extends "base.html" %}
{% set active_page = "admin_settings" %}
{% block title %}<title><span data-i18n="Zone Record Settings">Zone Record Settings</span> - {{ SITE_NAME }}</title>{% endblock %}

{% block dashboard_stat %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"><span data-i18n="Zone Record Settings">Zone Record Settings</span></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ url_for('dashboard.dashboard') }}"><span data-i18n="Dashboard">Dashboard</span></a></li>
                        <li class="breadcrumb-item active"><span data-i18n="Zone Record Settings">Zone Record Settings</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                    <form role="form" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="create" value="{{ create }}">
                        <div class="card card-outline card-primary shadow">
                            <div class="card-header">
                                <h3 class="card-title"><span data-i18n="Settings Editor">Settings Editor</span></h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th><span data-i18n="#">#</span></th>
                                        <th><span data-i18n="Record">Record</span></th>
                                        <th><span data-i18n="Forward Zone">Forward Zone</span></th>
                                        <th><span data-i18n="Reverse Zone">Reverse Zone</span></th>
                                    </tr>
                                    {% for record in f_records %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ record }}</td>
                                            <td>
                                                <input type="checkbox" id="fr_{{ record|lower }}"
                                                       name="fr_{{ record|lower }}"
                                                       class="checkbox" {% if f_records[record] %}checked{% endif %}>
                                            </td>
                                            <td>
                                                <input type="checkbox" id="rr_{{ record|lower }}"
                                                       name="rr_{{ record|lower }}"
                                                       class="checkbox" {% if r_records[record] %}checked{% endif %}>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary float-right" title="Save Settings" data-i18n-title="Save Settings">
                                    <i class="fa-solid fa-save"></i>&nbsp;<span data-i18n="Save Settings">Save Settings</span>
                                </button>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </form>
                </div>
                <!-- /.col -->

                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="card card-outline card-secondary shadow">
                        <div class="card-header">
                            <h3 class="card-title"><span data-i18n="Settings Editor Help">Settings Editor Help</span></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <p><span data-i18n="Select record types you allow user to edit in the forward zone and reverse zone. Take a look at">Select record types you allow user to edit in the forward zone and reverse zone. Take a
                                look at</span>
                                <a href="https://doc.powerdns.com/authoritative/appendices/types.html" target="_blank">PowerDNS
                                    docs</a>
                                <span data-i18n="for full list of supported record types.">
                                for
                                full list of supported record types.</span>
                            </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extrascripts %}
    <script>
        $('.checkbox').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        })
    </script>
{% endblock %}
